
/target/


pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!**/src/main/**/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.properties


/build/


!.mvn/wrapper/maven-wrapper.jar
!**/mvn/wrapper/maven-wrapper.jar

/.idea/
/*.iml
/.classpath
/.project
/.settings/
/.settings/
.vscode/
*.launch


.DS_Store
Thumbs.db
*.swp


*.log
*.log.*


.env
*.log
*.springBeans


**/lombok.config

test-output/


openapi-docs/
swagger-ui/




*.class
*.war
*.ear


/.m2/
/.mvn/


hs_err_pid*

*~
